/* Default CSS for tags */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #99102f;
}

button {
    font-size: large;
    padding: 0.6rem;
    color: #e6dddd;
    background-color: rgb(7, 7, 7);
    border-radius: 1rem;
}

footer {
    position: block;
    bottom: 0;
    background-color: #121213;
    grid-column: span 12;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

footer a {
    color:white;
}

footer a:hover {
    color:red;
}

label {
    margin-left: 1rem;
}


.bullet-none {
    list-style-type: none;
}

.checkbox-margin {
    margin-left: 0.3rem;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: Times;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    background-color: black
    padding-left= 1rem;
    border-radius: 1rem;
    text-align: center; 
    color: black;
}

.content {
    grid-column: span 9;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.display {
    grid-column: span 12;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.menu {
    grid-column: span 3;
}

.navigation-button {
    margin: 0.5rem;
    padding: 0.1rem;
    font-size: x-large;
    display: flex;
    color:white;
    justify-content: center;
    background-color: #000000;
    cursor: pointer;
    border-radius: 5rem;
    box-shadow: 0 0 0 0.1rem #e9e9e9;
}

.navigation-button:hover {
    background-color: #99102f;
}

.user {
    display: none;
}


#added {
    font-size: large;
    padding: 0.5rem;
}

#addToCart {
    float: left;
    margin-right: 1rem;
}

#content1 {
    display: block; 
}

#content2, #content3 {
    display: none;
}

